<a href="https://colab.research.google.com/github/evelyntecinternet/Git-site_senac/blob/master/phyton_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Word!")

In [ ]:
saudacao = "Hello Word!"
print ("saudacao")
print(saudacao)
                              #consigo manusear cada caractere da minha string
print(saudacao[0])
print(saudacao[6])
print(saudacao[0:5])
print(saudacao[6::])
print(saudacao[0], saudacao[1])#imprimir com espaço
print(saudacao[0] + saudacao[1]) #contatenou = Juntou
print(saudacao[0], " -",saudacao[1], "_",saudacao[2])
print("Inicio do for")
for x in saudacao:
  print(x)

print("End!!")

In [ ]:
print("A soma é:", 5+3)
print("A divisão é:",5/3)
print("A multiplicação é:",5*3)
print("A subtração é:",5-3)

In [ ]:
n1 = 5
n2 = 3
print("A soma é:", n1+n2)
print("A divisão é:",n1/n2)
print("A multiplicação é:",n1*n2)
print("A subtração é:",n1-n2)

In [ ]:
soma = 5+3
subtracao = 5-3
multiplicacao = 5*3
divisao = 5/3
print("A soma é:", soma)
print("O tipo de dado da soma é:",type(soma))
print("A divisão é:",divisao)
print("O tipo de dado da divisao é:",type(divisao))
print("A multiplicação é:",multiplicacao)
print("O tipo de dado da multiplicação é:",type(multiplicacao))
print("A subtração é:",subtracao)
print("O tipo de dado da subtração é:",type(subtracao))

In [ ]:
nome = "evelyn oliveira"
print(nome)
print(nome.capitalize()) #primeira letra maiscula
print(nome.upper())#tudo maisculo
print(nome.casefold()) #tudo minusculo
print(nome.find("o"))#posição da letra
print(nome.replace("e","&"))#troca a letra correspondente pela do lado
print(nome.count("i"))#contar a quantidade de mesma letra

In [ ]:
nome_completo = "Evelyn Alves Da Cruz Oliveira" # @param {type:"string"}
data_nascimento = "2006-08-23" # @param {type:"date"}
print(nome_completo)
nome = input("Digite o seu nome : ")
print(nome)
print(data_nascimento)

In [ ]:
nome = input("Digite o seu nome : ")
print("o nome é: ",nome)

idade = input("Digite a sua idade : ")
print("A idade é: ",idade)

In [ ]:
nome = "Ana" # @param {type:"string"}
idade = 10 # @param {type:"integer"}

if idade >= 18 :
  print("MAIOR")
else:
  print("menor")

In [ ]:
#for

for x in range(15,25):
  print(x)